---
import InfoBtn from './InfoBtn.svelte';
import info from '../data/info.json';
const {title, img, bg, infoKey} = Astro.props;
---

<div class={`container w-full min-w-full ${bg}`}>
	<div class="stack h-inner">
		<img class="object-cover object-center h-inner w-full" src={img} />
		<div class="bg-gray-900 w-full bg-opacity-50"></div>
		<div class="h-full flex justify-center items-center">
			<h1 class="font-heading text-white text-5xl font-black w-full tracking-widest opacity-90 text-center uppercase leading-relaxed">
				{title}
			</h1>
		</div>

		{infoKey && (
			<div class="place-self-end self-end mb-5 mr-5 ">
				<InfoBtn client:idle info={info[infoKey]}></InfoBtn>
			</div>
		)}
	</div>
</div>

<style>
	.container {
		--height: 24rem;
		--padding: 0.25rem;

		height: var(--height);
		padding: var(--padding) 0 0 0;
	}

	.h-inner {
		height: calc(var(--height) - (var(--padding))) 
	}

	h1 {
		animation-duration: 0.2s;
		animation-name: fadein
	}

	@keyframes fadein {
		from {
			opacity: 0%;
			transform: scale(0.9)
		}

		to {
			opacity: 90%;
			transform: scale(1)
		}
	}


</style>