    <section class="sm:col-span-3 bg-gray-800 bg-opacity-20 rounded-xl px-4 py-3 max-w-[384px] mx-auto mt-6">
      <div class="flex flex-col items-center h-full justify-center font-emphasis font-medium">
        <span class="block text-white font-secondary text-3xl text-center mb-2">
          NEWSLETTER
        </span>
        <form 
          action="https://gmail.us20.list-manage.com/subscribe?u=92a78a27f4b4469acf40a8be4&id=7ea9dc9d59" 
          method="post" 
          id="mc-embedded-subscribe-form" 
          name="mc-embedded-subscribe-form" 
          class="w-full p-0 m-0" 
          target="_blank" 
          novalidate="">

          <div id="mc_embed_signup_scroll" class="flex flex-col justify-center items-center w-full">
            <div class="hidden md:flex w-full md:mb-4 justify-center items-center">
              <label class="text-gray-200 mr-2 mb-0 block text-center text-xl md:text-2xl" for="mce-EMAIL">
                EMAIL:
              </label>
              <input type="email" value="" name="EMAIL" class="bg-white bg-opacity-80 block w-full font-base text-lg px-2 py-1" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
              <div class="hidden" id="mce-error-response"></div>
              <div class="hidden" id="mce-success-response"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px" aria-hidden="true">
              <input type="text" name="b_ef3f62323075a304e4a1428e3_b6e69bd855" tabindex="-1" value="">
            </div>

            <input 
              type="submit" 
              value="Subscribe" 
              name="subscribe" 
              id="mc-embedded-subscribe" 
              class="border-2 border-gray-400 text-gray-100 bg-gray-500 rounded font-base text-base sm:text-lg px-2 py-1 cursor-pointer hover:border-gray-300">
          </div>
        </form>
      </div>
    </section>